.reduzir-altura {
    height: 600px; /* ou a altura desejada */
  }
/* Estilo para o cabeçalho */
.container {
  width: 60%; /* Define a largura do container como 70% da largura da tela */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  text-align: center; /* Centraliza o texto dentro do container */
}
.text-justify {
  text-align: left; /* Alinha o texto à esquerda dentro do container */
}
